{:duct.profile/base
 {:duct.core/project-ns fraunigai

  :duct.router/ataraxy
  {:routes {[:get "/example"] [:fraunigai.handler/example]}}

  :fraunigai.handler/example
  {:db #ig/ref :duct.database/sql}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module/cljs
 {:main fraunigai.client}
 :duct.module/sql
 {}
 :duct.module.web/site
 {}}
