body {
	background: #222;
	text-align: center;
}

#logo {
	margin: 20px auto;
	width: 80%;
}

#media-bar {
	margin: 20px auto;
	width: 80%;
	display: inline-block;
}

.media-link {
	text-align: center;
	font: 18pt sans-serif;
	color: rgba(255, 255, 255, 0.6);
	width: 19%;
	display: inline-block;
	text-decoration: none;
}

.media-link img {
	width: 50%;
	filter: invert(100%) opacity(62%);
	display: inline-block;
}

.media-link:hover img {
	filter: invert(100%) opacity(100%);
}
